<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB97xHtIU10-aeu_Hl-i3wjx9i7aHt-_jc</string>
	<key>GCM_SENDER_ID</key>
	<string>205476809475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.777..Screen-Therapy</string>
	<key>PROJECT_ID</key>
	<string>screen-therapy</string>
	<key>STORAGE_BUCKET</key>
	<string>screen-therapy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205476809475:ios:d4839f3c57356e87b33736</string>
</dict>
</plist>